.body { font: .74em Sans-Serif; font-size: 20px; color: darkblue; background: #f4f4f4; line-height: 1.6em; margin-left: 40px; margin-top: 30px;}
.footer { clear: both; font-size: 20px; height: 120px; text-align: center; padding: 20px 0; color: #888; border-top: 1px dotted #ccc; }
.boton_personalizado{
    text-decoration: none;
    margin-left: 50px; margin-top: 30px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 15px;
    border: 2px solid #0016b0;
  }